
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

            {% for melon in session["cart"] %}

        <tr>
            <td>{{ display_melons[melon].common_name }}</td>
            <td>{{ session["cart"][melon] }}</td>
            <td>{{ display_melons[melon].price }}</td>
            <td>{{ display_melons[melon].subtotal }}
        </tr>

        {% endfor %}
    </table>

    <h3>Total: {{ total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
